:root {
  --background: #020617;
  --card: #0f172a;
  --muted: #1e293b;
  --foreground: #f8fafc;
  --card-foreground: #f8fafc;
  --muted-foreground: #94a3b8;
  --accent-foreground: #f8fafc;
  --destructive-foreground: #f8fafc;
  --primary: #ff6b6b;
  --primary-foreground: var(--background);
  --secondary: #06b6d4;
  --secondary-foreground: #020817;
  --accent: #1e293b;
  --destructive: #ef4444;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #ff6b6b;
  --radius: 0.75rem;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --sidebar: #020617;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #ff6b6b;
  --sidebar-primary-foreground: var(--background);
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1e293b;
  --sidebar-ring: #ff6b6b;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #020617;
  --card: #0f172a;
  --muted: #1e293b;
  --foreground: #f8fafc;
  --card-foreground: #f8fafc;
  --muted-foreground: #94a3b8;
  --primary: #ff6b6b;
  --primary-foreground: var(--background);
  --secondary: #06b6d4;
  --secondary-foreground: #020817;
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #ff6b6b;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --sidebar: #020617;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #ff6b6b;
  --sidebar-primary-foreground: var(--background);
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1e293b;
  --sidebar-ring: #ff6b6b;
}
